In [8]:
from WindPy import w
import pandas as pd
import numpy as np
import datetime
import calendar

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [5]:
DATA_DIR = 'D:/Data/stocks/'
code = '000002.SZ'
fname = '%s/%s.xlsx'%(DATA_DIR, code)

In [6]:
sdf = pd.read_excel(fname, index_col=0)

In [7]:
sdf.head()

,amt,close,dealnum,high,low,mfd_buyamt_a,mfd_sellamt_a,mkt_freeshares,pe_ttm,turnover,volume,vwap
2011-04-01 00:00:00.005,6.395283e+08,7.435313,NaN,7.443743,7.165551,NaN,NaN,7.092863e+10,13.315400,0.009017,73417645.0,7.343278
2011-04-06 00:00:00.005,9.503367e+08,7.536473,NaN,7.578624,7.359442,NaN,NaN,7.189365e+10,13.496563,0.013219,106840180.0,7.498485
2011-04-07 00:00:00.005,1.173974e+09,7.713505,NaN,7.823095,7.511183,NaN,NaN,7.358243e+10,13.813596,0.015955,128453209.0,7.704493
2011-04-08 00:00:00.005,0.000000e+00,7.713505,NaN,7.713505,7.713505,NaN,NaN,7.358243e+10,13.813596,0.000000,0.0,NaN
2011-04-11 00:00:00.005,7.459555e+08,7.435313,NaN,7.747225,7.426882,NaN,NaN,7.092863e+10,13.315400,0.010517,83328040.0,7.546618

In [44]:
data = w.wss("000002.SZ", "roic,roe,roa","rptDate=20161231")

In [45]:
data

.ErrorCode=0
.Codes=[000002.SZ]
.Fields=[ROIC,ROE,ROA]
.Times=[20170719 13:20:33]
.Data=[[9.4923],[19.6815],[3.9322]]

In [9]:
years = range(2008, 2018)
months = [3, 6, 9, 12]

In [13]:
dates = []
for year in years:
    for month in months:
        day = calendar.monthrange(year, month)[1]
        dates.append('%s-%s-%s'%(year, month, day))

In [21]:
roic = []
for date in dates:
    data = w.wss(code, "roic","rptDate=%s"%(date))
    roic.append(data.Data[0][0])

In [24]:
df = pd.DataFrame({'roic': roic}, index=pd.to_datetime(dates, format='%Y-%m-%d'))

In [25]:
df

               roic
2011-03-31   1.3066
2011-06-30   3.1155
2011-09-30   3.7573
2011-12-31   9.8488
2012-03-31   1.3085
2012-06-30   3.3179
2012-09-30   4.5722
2012-12-31  10.2562
2013-03-31   1.1037
2013-06-30   3.1046
2013-09-30   4.1395
2013-12-31   9.7615
2014-03-31   0.9112
2014-06-30   2.7969
2014-09-30   3.7381
2014-12-31   9.0631
2015-03-31   0.3653
2015-06-30   2.7605
2015-09-30   3.8369
2015-12-31   9.6527
2016-03-31   0.4196
2016-06-30   2.7140
2016-09-30   4.2274
2016-12-31   9.4923
2017-03-31   0.2751
2017-06-30      NaN
2017-09-30      NaN
2017-12-31      NaN

In [34]:
df.index = df.index.map(lambda x: x + datetime.timedelta(seconds=0.005))

In [35]:
mdf = df.merge(sdf, left_index=True, right_index=True, how='outer')

In [36]:
mdf['roic'] = mdf['roic'].fillna(method='ffill')

In [39]:
mdf = mdf.loc[sdf.index]

In [41]:
mdf.shape

(1531, 13)

In [42]:
sdf.shape

(1531, 12)