In [127]:
import pandas as pd
import matplotlib.pyplot as plt
import pyodbc
import cx_Oracle
%matplotlib inline

In [128]:
# conn = pyodbc.connect('DRIVER={SQL Server};SERVER=10.0.185.138;DATABASE=JYDB;UID=js_dev;PWD=js_dev')
conn = cx_Oracle.connect('js_dev', '123456', 'wind')

In [129]:
# query = 'SELECT f.EndDate, t.SecuCode, f.NetProfitCut \
# FROM LC_MainIndexNew as f, SecuMain as t \
# WHERE t.InnerCode = f.CompanyCode \
#     AND t.SecuCategory = 1 \
#     AND (t.ListedSector = 1 OR t.ListedSector = 2 OR t.ListedSector = 6) \
#     AND t.ListedState = 1'
query = 'select t.S_INFO_WINDCODE, t.REPORT_PERIOD, t.S_QFA_DEDUCTEDPROFIT from wind.AShareFinancialIndicator t'

In [130]:
df = pd.read_sql_query(query, con=conn)

In [131]:
df.tail()

       S_INFO_WINDCODE REPORT_PERIOD  S_QFA_DEDUCTEDPROFIT
170721       603022.SH      20171231            3804368.87
170722       300167.SZ      20171231          -11389682.76
170723       000417.SZ      20171231          -39447999.16
170724       300180.SZ      20171231           57083398.43
170725       300417.SZ      20171231           10472445.65

In [132]:
df = df.set_index('REPORT_PERIOD').sort_index().dropna()

In [133]:
df = df[df.index >= '2000-01-01']

In [134]:
df.tail()

              S_INFO_WINDCODE  S_QFA_DEDUCTEDPROFIT
REPORT_PERIOD
20180630            002565.SZ          1.283760e+06
20180630            603199.SH          2.958191e+07
20180630            300478.SZ          2.326505e+07
20180630            002240.SZ          4.448034e+07
20180630            000818.SZ          1.124686e+08

In [135]:
df = df.pivot_table('S_QFA_DEDUCTEDPROFIT', index=['REPORT_PERIOD', 'S_INFO_WINDCODE']).unstack()

In [153]:
df['S_QFA_DEDUCTEDPROFIT'].pct_change(4).median(axis=1)

REPORT_PERIOD
20020930         NaN
20021231         NaN
20030331         NaN
20030630         NaN
20030930   -0.055009
20031231   -0.243647
20040331   -0.535731
20040630   -0.354657
20040930   -0.201416
20041231   -0.269034
20050331   -0.041931
20050630   -0.162813
20050930   -0.154318
20051231   -0.314345
20060331   -0.009668
20060630   -0.045443
20060930    0.015189
20061231   -0.190568
20070331    0.073809
20070630    0.129466
20070930    0.117044
20071231   -0.047369
20080331    0.091983
20080630    0.011136
20080930   -0.214183
20081231   -0.507961
20090331   -0.280186
20090630   -0.187495
20090930   -0.025395
20091231   -0.309493
              ...
20110331    0.087580
20110630    0.067266
20110930   -0.014661
20111231   -0.195393
20120331   -0.071917
20120630   -0.083095
20120930   -0.137511
20121231   -0.191269
20130331   -0.014678
20130630   -0.028429
20130930   -0.011910
20131231   -0.105722
20140331    0.010485
20140630    0.023504
20140930   -0.017657
20141231   -0.115485
20150331    0.000355
20150630   -0.014921
20150930   -0.054169
20151231   -0.125265
20160331    0.041059
20160630    0.004140
20160930    0.005166
20161231   -0.113870
20170331    0.060339
20170630    0.046387
20170930    0.043453
20171231   -0.082912
20180331    0.042505
20180630    0.313103
Length: 64, dtype: float64