In [1]:
import pyodbc
import pandas as pd

In [2]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=10.0.185.138;DATABASE=JYDB;UID=js_dev;PWD=js_dev')

In [3]:
wind_code = '000002'

In [12]:
query = 'SELECT comp.InfoPublDate, comp.InfoTitle, comp.Content \
         FROM LC_Announcement as comp, SecuMain as t \
         WHERE comp.CompanyCode = t.CompanyCode \
            AND t.SecuCode = \'%s\''%(wind_code)

In [13]:
df = pd.read_sql_query(query, con=conn)

In [14]:
df.tail()

,InfoPublDate,InfoTitle,Content
710,2017-08-25,万科Ａ2017年半年度报告摘要,证券代码：000002、299903 证券简称：万科 A、万科 H代 公告编号：〈万...
711,2017-09-01,万科Ａ2017年面向合格投资者公开发行公司债券（第二期）上市公告书,股票简称：万科 A、万科 H代 股票代码：000002、299903公告编号：〈万〉...
712,2017-10-27,万科Ａ：2017年第三季度报告全文,证券代码：000002、299903 证券简称：万科 A、万科 H 代 公告编号：〈...
713,2018-03-27,万科Ａ：2017年年度报告,万科企业股份有限公司\n CHINA VANKE CO. LTD.\n ...
714,2018-03-27,万科Ａ：2017年年度报告摘要,7 年度报告摘要\n 证券代码：000002、299903 证券简称：万科 A...

In [15]:
content = df['Content'].iloc[-1]

In [17]:
print content

-1