In [56]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [106]:
fname = u'涨价-全国-(20060101-20061231).txt'

In [107]:
with open(fname, 'r') as f:
    data = [line.strip().split(' ') for line in f.readlines()]

In [108]:
df = pd.DataFrame(data, columns=['date', 'value'])

In [109]:
df = df.set_index('date')

In [110]:
df.tail()

           value
date
2006-12-27   201
2006-12-28   172
2006-12-29   222
2006-12-30   208
2006-12-31   209

In [111]:
df.to_excel('2006.xlsx')