In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('./data/stock price.xlsx')

In [3]:
df.head()

,881001.WI,CI005001.WI,CI005002.WI,CI005003.WI,CI005004.WI,CI005005.WI,CI005006.WI,CI005007.WI,CI005008.WI,CI005009.WI,...,CI005020.WI,CI005021.WI,CI005022.WI,CI005023.WI,CI005024.WI,CI005025.WI,CI005026.WI,CI005027.WI,CI005028.WI,CI005029.WI
2005-01-04,760.8923,972.6953,971.6588,974.9029,983.8077,976.2269,984.1301,985.7494,988.6503,984.3312,...,990.2624,984.9190,971.4580,993.1926,986.6346,992.7887,989.8816,997.8527,1001.2205,997.1057
2005-01-05,770.8937,972.4125,976.6908,988.5014,993.2399,983.7726,994.4515,1001.7736,1003.5723,997.8509,...,1005.2765,975.7218,991.0295,1018.1711,996.0323,1009.8923,1005.5461,1026.2292,1040.0349,1019.9167
2005-01-06,763.8040,953.4392,957.3087,965.2290,979.5781,969.9842,983.2128,993.2242,990.7411,994.4649,...,994.1639,965.1899,992.4178,1017.2031,992.8979,1001.3624,989.5672,1024.9278,1039.1674,1013.4837
2005-01-07,765.6346,954.5805,920.7459,963.1241,977.8708,969.1005,985.9675,1000.5584,994.2298,998.8018,...,1001.1542,965.4274,1000.2445,1035.1659,991.2206,1018.5846,990.8038,1021.6451,1034.9097,1019.1937
2005-01-10,772.7560,943.7885,928.6835,970.7866,987.2175,977.4942,993.5618,1010.2930,1004.6849,1006.5051,...,1009.0260,992.1642,1012.0100,1044.1267,996.8280,1027.5371,999.0348,1036.1612,1049.5606,1031.6837

In [5]:
rdf = df.pct_change()

In [7]:
Y = df['881001.WI'].pct_change(20).shift(-20)

In [11]:
Y = Y.dropna()
rdf = rdf.loc[Y.index]

In [12]:
from sklearn.ensemble import GradientBoostingClassifier

In [13]:
Y[Y >= 0.05] = 1
Y[Y < 0.05] = 0

(983L,)