In [16]:
import cx_Oracle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [17]:
conn = cx_Oracle.connect('js_dev', '123456', 'wind')

In [18]:
query = 'select t.ann_dt, t.n_info_title, t.s_info_windcode \
         from wind.AShareAnnInf t'

In [19]:
df = pd.read_sql(query, con=conn)

In [20]:
df.shape

(2691159, 3)

In [21]:
def text_decode(text):
    try:
        text = text.decode('gbk')
        return text
    except Exception as e:
        return text

In [22]:
df['N_INFO_TITLE'] = df['N_INFO_TITLE'].apply(lambda x: text_decode(x))

In [23]:
df = df.set_index('ANN_DT')

In [24]:
df.index = pd.to_datetime(df.index)

In [25]:
df = df.sort_index()

In [27]:
df[df.index <= '2004-01-01'].shape

(15243, 2)

In [28]:
df.head()

                               N_INFO_TITLE S_INFO_WINDCODE
ANN_DT
1993-08-18          上海新锦江大酒店股份有限公司一九九三年中期报告       600650.SH
1996-09-16      株洲火炬火花塞股份有限公司1996年度中期报告补充说明       000549.SZ
1998-09-11                           刊登中期报告       000408.SZ
1999-03-22                    公布1998年年度报告公告       000408.SZ
1999-05-27  关于终止抛光地砖生产线租赁经营暨召开1998年度股东大会的公告       000408.SZ