In [1]:
import cx_Oracle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
conn = cx_Oracle.connect('js_dev', '123456', 'wind')

In [13]:
query = 'select t.est_dt, t.indicator_name, t.report_name from wind.ChinaMacroForecast t'

In [14]:
df = pd.read_sql(query, con=conn)

In [7]:
df

(153111, 1)

In [10]:
def text_decode(text):
    try:
        text = text.decode('gbk')
        return text
    except Exception as e:
        return text

In [12]:
df['INDICATOR_NAME'] = df['INDICATOR_NAME'].apply(lambda x: text_decode(x))

In [15]:
df['REPORT_NAME'] = df['REPORT_NAME'].apply(lambda x: text_decode(x))

In [17]:
df.tail()

,EST_DT,OBJECT_ID,INDICATOR_NAME,REPORT_NAME
153106,20180401,{F328A4C1-3639-11E8-AA6F-6C0B84AE0D80},�������Ʒ����:ȫ��ͬ��,平安证券4月份宏观月报：增值税率下调影响几何
153107,20180401,{F328A4C2-3639-11E8-AA6F-6C0B84AE0D80},����:ȫ��ͬ��,平安证券4月份宏观月报：增值税率下调影响几何
153108,20180401,{F328A4C3-3639-11E8-AA6F-6C0B84AE0D80},����:ȫ��ͬ��,平安证券4月份宏观月报：增值税率下调影响几何
153109,20180401,{F328A4C4-3639-11E8-AA6F-6C0B84AE0D80},ó��˳��:ȫ��ֵ,平安证券4月份宏观月报：增值税率下调影响几何
153110,20180401,{F328A4C5-3639-11E8-AA6F-6C0B84AE0D80},CPI:ȫ��ͬ��,平安证券4月份宏观月报：增值税率下调影响几何