In [1]:
import cx_Oracle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
conn = cx_Oracle.connect('js_dev', '123456', 'wind')

In [24]:
query = 'select t.s_askdate, t.s_questioncontent, t.s_answercontent \
         from wind.AShareISQA t'

In [25]:
df = pd.read_sql(query, con=conn)

In [9]:
df.shape

(525958, 1)

In [15]:
def text_decode(text):
    try:
        text = text.decode('gbk')
        return text
    except Exception as e:
        return text

In [50]:
def LOB_decode(text):
    try:
        text = text.read().decode('gbk')
        return text
    except Exception as e:
        return text

In [27]:
df['S_QUESTIONCONTENT'] = df['S_QUESTIONCONTENT'].apply(lambda x: text_decode(x))

In [51]:
df['S_ANSWERCONTENT'] = df['S_ANSWERCONTENT'].apply(lambda x: LOB_decode(x))

In [ ]:
df = df.dropna()

In [30]:
df = df.set_index('S_ASKDATE')

In [31]:
def date_convert(date):
    try:
        date = pd.to_time(date, format='%Y%m%d')
        return date
    except Exception as e:
        return date

In [33]:
df.index = df.index.map(lambda x: date_convert(x))

In [35]:
df = df.sort_index()

In [52]:
df.tail()

,S_QUESTIONCONTENT,S_ANSWERCONTENT
S_ASKDATE,,
NaN,公司的通州地产项目备受关注，未来将如何运作？,北京武夷花园南区项目位于通州区潞城镇通胡大街南侧，紧邻北京行政副中心。该项目以高尚生活与时尚...
NaN,公司海外工程承包业务近年发展很快，该业务未来的机遇和挑战何在？,近两年，全球经济有较大下行压力，不少国家在压缩投资，还有不少地区政局动荡，对公司国际工程承包...
NaN,福建国资改革是否会为公司带来新的发展契机？,福建国资系统改革目前还没有具体配套措施，但资本证券化将是一个大方向，国资部门将从管业务转向管...
NaN,中国经济调整对公司影响如何？公司对房地产业未来走势如何判断？,公司主要从事房地产开发和建筑工程承包业务，预计2015年营业收入同比略有增长。房地产开发业务...
NaN,公司此次配股融资的具体用意是什么？,公司截至去年三季度资产负债率达86.67%，12月份公司成功发行4.9亿元公司债，用于归还银...

In [42]:
s = df['S_ANSWERCONTENT'].iloc[-1]

In [48]:
print s.read().decode('gbk')

公司截至去年三季度资产负债率达86.67%，12月份公司成功发行4.9亿元公司债，用于归还银行贷款，债务结构显著优化，用5至7年的长期债务替换1至3年的中短期债务，融资成本明显下降。2014年2月，公司开始筹划定增，后来由于证券市场回暖，公司股票价格大幅上扬，定增难度太大，公司于2015年5月决定终止该方案，更改为向全体股东按不超过每10股配3股的比例配股。随着公司经营规模进一步扩大，资金紧张的局面将愈发突出。本次以募集资金偿还借款，能有效降低资产负债率，增强偿债能力，有助于提高公司在银行的融资能力，为后续根据业务发展需要向银行借款创造条件。公司第一大股东福建建工集团总公司将以现金方式全额认购其所配售的股票。