In [1]:
import cx_Oracle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
conn = cx_Oracle.connect('js_dev', '123456', 'wind')

In [10]:
query = 'select t.price_date, t.f_info_windcode, t.f_nav_unit from wind.ChinaHedgeFundNAV t'

In [11]:
df = pd.read_sql(query, con=conn)

In [7]:
df.shape

(2972020, 3)

In [9]:
df.tail()

        ANN_DATE F_INFO_WINDCODE  F_NAV_UNIT
2972015     None    XT1517765.XT       1.016
2972016     None    XT1517765.XT       1.014
2972017     None    XT1517765.XT       1.011
2972018     None    XT1517765.XT       1.007
2972019     None    XT1517765.XT       0.975