In [1]:
import cx_Oracle
import pandas as pd
%matplotlib inline

In [2]:
conn = cx_Oracle.connect('fe_res', 'fe_res123', 'IACORE')

In [3]:
query = 'SELECT ibq.TRADINGDAY,avg(1e8*abs(ibq.PREVCLOSEDIRTYPRICE-ibq.CLOSEDIRTYPRICE)/ibq.TRANSACTIONVOL) AS illiquidity  FROM jy.BOND_INTERBANKQUOTE ibq \
         left JOIN jy.bond_code bc ON bc.INNERCODE = ibq.INNERCODE \
         WHERE ibq.TRADINGDAY between TRUNC (SYSDATE-243*10) and TRUNC (SYSDATE) \
         AND ibq.TRANSACTIONVOL > 1e7 \
         AND ibq.PREVCLOSEDIRTYPRICE > 0 \
         GROUP BY ibq.TRADINGDAY \
         ORDER BY ibq.TRADINGDAY'

In [4]:
df = pd.read_sql_query(query, con=conn)

In [5]:
df.tail()

     TRADINGDAY  ILLIQUIDITY
1650 2018-05-21     1.278723
1651 2018-05-22     2.334700
1652 2018-05-23     1.398327
1653 2018-05-24     1.064877
1654 2018-05-25     1.183279