In [1]:
import pandas as pd
import datetime
from WindPy import w
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
DATA_DIR = 'D:/workspace/zjsxzy_in_js/website/derivative/data/'
OPTION_DIR = 'D:/Data/derivatives/options/'

In [6]:
df = pd.read_excel('%s/option list.xlsx'%(DATA_DIR), skiprows=6)

In [16]:
df.head(n=10)

,标的代码,标的名称,期权品种,期权代码,期权名称,行权类型,行权价,期权交割月份,期权类型,起始交易日期,最后交易日期,剩余存续期（天）,结算方式,合约乘数
0,510050.SH,华夏上证50ETF,510050OP.SH,10000897.SH,50ETF购12月2160A,欧式,2.160,201712,认购,2017-05-05,2017-12-27,27,实物资产,10185
1,510050.SH,华夏上证50ETF,510050OP.SH,10000887.SH,50ETF购12月2209A,欧式,2.209,201712,认购,2017-04-27,2017-12-27,27,实物资产,10185
2,510050.SH,华夏上证50ETF,510050OP.SH,10000888.SH,50ETF购12月2258A,欧式,2.258,201712,认购,2017-04-27,2017-12-27,27,实物资产,10185
3,510050.SH,华夏上证50ETF,510050OP.SH,10000889.SH,50ETF购12月2307A,欧式,2.307,201712,认购,2017-04-27,2017-12-27,27,实物资产,10185
4,510050.SH,华夏上证50ETF,510050OP.SH,10000890.SH,50ETF购12月2356A,欧式,2.356,201712,认购,2017-04-27,2017-12-27,27,实物资产,10185
5,510050.SH,华夏上证50ETF,510050OP.SH,10000891.SH,50ETF购12月2405A,欧式,2.405,201712,认购,2017-04-27,2017-12-27,27,实物资产,10185
6,510050.SH,华夏上证50ETF,510050OP.SH,10000899.SH,50ETF购12月2455A,欧式,2.455,201712,认购,2017-05-17,2017-12-27,27,实物资产,10185
7,510050.SH,华夏上证50ETF,510050OP.SH,10000915.SH,50ETF购12月2504A,欧式,2.504,201712,认购,2017-05-26,2017-12-27,27,实物资产,10185
8,510050.SH,华夏上证50ETF,510050OP.SH,10000923.SH,50ETF购12月2553A,欧式,2.553,201712,认购,2017-06-01,2017-12-27,27,实物资产,10185
9,510050.SH,华夏上证50ETF,510050OP.SH,10000931.SH,50ETF购12月2602A,欧式,2.602,201712,认购,2017-06-26,2017-12-27,27,实物资产,10185

In [17]:
prices = df[u'行权价'].unique()

In [18]:
prices.sort()

In [19]:
prices

array([ 2.16 ,  2.209,  2.258,  2.307,  2.356,  2.405,  2.455,  2.504,
        2.553,  2.602,  2.651,  2.7  ,  2.749,  2.798,  2.8  ,  2.847,
        2.85 ,  2.896,  2.9  ,  2.946,  2.95 ,  3.   ,  3.044,  3.142,
        3.24 ])

In [23]:
names = []
for i in df.index:
    price = df.loc[i][u'行权价']
    name = df.loc[i][u'期权名称']
    name = name[:name.find(u'月')+1]
    if name not in names:
        names.append(name)

In [24]:
for name in names:
    print name

50ETF购12月
50ETF沽12月
50ETF购1月
50ETF沽1月
50ETF购3月
50ETF沽3月
50ETF购6月
50ETF沽6月

In [25]:
odf = pd.DataFrame({}, index=prices, columns=names)

In [26]:
date = datetime.datetime(2017, 11, 30)

In [27]:
date

datetime.datetime(2017, 11, 30, 0, 0)

In [32]:
for index in df.index:
    option_code = df.loc[index][u'期权代码']
    price = df.loc[index][u'行权价']
    name = df.loc[index][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(u'月')+1]
#     print option_code, odf.loc[price][name]
    fname = '%s/%s.xlsx'%(OPTION_DIR, option_code)
#     print fname
    tdf = pd.read_excel(fname, index_col=0)
#     print tdf.loc[date]['OI']
    odf.loc[price][name] = tdf.loc[date]['oi']

In [33]:
odf

,50ETF购12月,50ETF沽12月,50ETF购1月,50ETF沽1月,50ETF购3月,50ETF沽3月,50ETF购6月,50ETF沽6月
2.160,9595,16846,NaN,NaN,NaN,NaN,NaN,NaN
2.209,1447,9374,NaN,NaN,NaN,NaN,NaN,NaN
2.258,1354,7168,NaN,NaN,NaN,NaN,NaN,NaN
2.307,1388,8132,NaN,NaN,NaN,NaN,NaN,NaN
2.356,2336,10376,NaN,NaN,NaN,NaN,NaN,NaN
2.405,3175,16312,NaN,NaN,NaN,NaN,NaN,NaN
2.455,2996,13803,NaN,NaN,2319,26521,NaN,NaN
2.504,2551,16314,NaN,NaN,1430,17717,NaN,NaN
2.553,4322,12325,NaN,NaN,5572,13351,NaN,NaN
2.602,3666,12220,NaN,NaN,1953,10546,NaN,NaN
2.651,4931,25207,NaN,NaN,3937,16596,4549,19216
2.700,6474,41359,NaN,NaN,5800,15452,2502,6509
2.749,17793,48208,NaN,NaN,9243,15902,2636,5386
2.798,27130,49989,NaN,NaN,10444,14301,3143,7382
2.800,8453,18236,2312,7590,750,1845,442,897
2.847,39534,49250,4014,6085,14138,12987,4715,9017
2.850,17471,16702,3157,4596,1934,2320,938,1310
2.896,56591,65479,8620,5129,8242,5720,6396,3221
2.900,26756,15359,5667,4220,2824,2068,1335,959
2.946,110968,49926,10395,4228,10675,6365,6645,2963
2.950,25591,8766,7278,1486,3731,2602,953,996
3.000,22783,6752,9900,1816,2960,1883,2184,844
3.044,120924,29218,15711,2905,13897,4412,10578,8334
3.142,120137,21948,11447,1929,21196,6614,10258,3666
3.240,57513,4733,23079,3712,14955,3773,9719,3765

In [34]:
odf.to_excel('%s/heatmap.xlsx'%(DATA_DIR))